@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.7),
    rgba(12, 236, 94, 0.032)
  );
  --foreground: #171717;
  --font-plus-jakarta: "Plus Jakarta Sans", sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

* {
  scroll-behavior: smooth;
}

img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

body {
  color: #000000;
  background: #faf9f9;
  letter-spacing: -1%;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @keyframes infinite-marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-infinite-marquee {
    display: flex;
    gap: 2rem;
    white-space: nowrap;
    animation: infinite-marquee 20s linear infinite;
    will-change: transform;
  }

  .hero-section {
    height: calc(100vh - 6rem);
  }

  @media (width < 1080px) {
    .hero-section {
      height: auto;
    }
  }
}
